.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;

  grid-template-areas:
    'header'
    'main';
}

.dashboard {
  grid-area: main;
  background-color: white;
}

/* Layout for main content overview  and its cards*/
.dashboard_overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid lightgreen;
}
.overview_card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  border: 1px solid darkblue;
  border-radius: 4px;
  color: darkblue;
}
/* Layout for main-cards section // below main_overview */
.dashboard_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 200px 300px;
  grid-template-areas:
    'card1'
    'card2'
    'card3';
  grid-gap: 10px;
}
.card {
  padding: 20px;
  border: 1px solid tomato;
  border-radius: 4px;
  color: tomato;
}

.card:first-child {
  grid-area: card1;
}
.card:nth-child(2) {
  grid-area: card2;
}
.card:nth-child(3) {
  grid-area: card3;
}
